.root{
    .rest-details{
        display: flex;
        align-items: center;
        .rest-detail{
            margin-right: 30px;
            .rest-name{
                text-align: left;
                font: normal normal bold 39px Flame Sans;
                letter-spacing: 0px;
                color: #222222;
            }
            .rest-address{
                text-align: left;
                font: normal normal normal 20px Flame Sans;
                letter-spacing: 0px;
                color: #484848;
            }
        }
        .average-svg{
            margin-top: 30px;
        }
    }
    .headers{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .headers-left{
            display: flex;
            align-items: center;
        .headers-title{
            text-align: left;
            font: normal normal bold 31px Flame Sans;
            letter-spacing: 0px;
            color: #222222;
        }
        .headers-stars{
            text-align: left;
            font: normal normal normal 20px Flame Sans;
            letter-spacing: 0px;
            color: #222222;
            margin-left: 10px;
            display: flex;
           align-items: center;
           .one{
            background: #D90F06 0% 0% no-repeat padding-box;
           }
           .three{
            background: #F27900 0% 0% no-repeat padding-box;
           }
           .five{
            background: #F3AD3D 0% 0% no-repeat padding-box;
           }
            .stars-color{

                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
            
        }
    }
    .headers-right{
        .select-sort{
            width: 100px;
            margin-right: 40px;
        }
        .filtered{
   
            width: 120px;
            height: 56px;
            display: inline-block;
            justify-content: center;
           
            border: 1px solid #CDCDCD;
            border-radius: 3px;
            color: #484848 !important;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .filtered:hover{
            border: 1px solid black;
            cursor: pointer;
        }
        .filterHeadings{
            display: flex;
            margin-top: 15px;
            margin-left: 15px;
            justify-content: space-between;
        }
        
        .filteredHovered{
            
            position: relative;
            box-shadow: 4px 4px 24px -1px rgba(0, 0, 0, 0.3);
            background-color: #FFFFFF;
            margin-top:25px;
            right: 30px;
            padding: 10px;
            width: 150px;
            z-index: 1;
            display: block;
        
        }
        .filteredHoveredCancel{
            
            position: relative;
            box-shadow: 4px 4px 24px -1px rgba(0, 0, 0, 0.3);
            background-color: #FFFFFF;
            margin-top:25px;
            right: 30px;
            padding: 10px;
            width: 200px;
            z-index: 1;
            display: none;
        
        }
        .filterHovered::before{
            
            content: '' '';
            position: absolute;
            bottom: 100%;
            top: -30px;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-bottom-color: #FFF4CC;
        margin: auto;
        left: 0;
        right: 0;
             /* boxShadow: '4px 4px 24px -1px rgba(0, 0, 0, 0.3)', */
          }
    }
    }
    .reviews{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-column-gap: 20px;
        margin-right: 40px;
        .angry{
            border-left:8px solid  #D90F06 ;
        }
        .success{
            border-left:8px solid #F3AD3D ;
        }
        .neutral{
            border-left:8px solid  #F27900  ;
        }

    .review-container{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        padding:0px 20px;
        margin:5px;

        .review-head{
            display: flex;
            align-items: center;
            .review-star{
                width: 28px;
                height: 28px;
            }
        }
        .review-content{
            display: flex;
            justify-content: space-between;
            .review-desc{
                text-align: left;
                font: normal normal normal 16px Flame Sans;
                letter-spacing: 0px;
                color: #484848;
                margin-left: 10px;
            }
        }
    }
    }

}